*
!**\.gitattributes
!**\.gitignore
!**\.md

!/\.editorconfig
!/\.gitpod.Dockerfile
!/\.gitpod.yml
!/\.travis\.yml
!/appveyor\.yml
!/config\.nims
!/LICENSE
!/scripts/
!/tests/

!/nimTemplate\.nim
!/nimTemplate\.nimble
!/nimTemplate/
